body {
  background-image: linear-gradient(135deg, #0f172a 0%, #0b3a5a 100%);
}
hr {
  border: none;
  border-top: 10px solid;
}

h3 {
  line-height: 20px;
  padding: 0px 5px 20px 5px;
  color: #e2dee4;
  font-weight: bold;
  font-size: 30px;
}
