body {
  background-image: linear-gradient(135deg, #0b3a5a 0%, #0f172a 100%);
}
hr {
  border: none;
  border-top: 10px solid;
}

h3 {
  line-height: 20px;
  padding: 0px 5px 20px 5px;
  color: rgba(255,255,255,0.7);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
a {
  color: rgba(255,255,255,0.7);
}

.weather-app-container {
  margin: 0 auto;
  width: 700px;
}

.city {
  font-size: 50px;
  padding: 20px 0 0 0;
  color: rgba(255,255,255,0.7);
  text-align: center;
}

.weather-app {
  margin: 40px auto;
  width: 700px;
  border: 3px solid rgba(255,255,255,0.04);
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #0b3a5a 0%, #0f172a 100%);
}

.min-max-temp {
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  padding-right: 0px;
  padding-left: 40px;
  text-align: center;
  font-weight: 500;
}

.weather-info {
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.sunrise-sunset {
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  padding-left: 15px;
  text-align: center;
  font-weight: 500;
}

.current-date {
  font-size: 25px;
  color: rgba(255,255,255,0.7);
  text-align: center;
}

.weather-icon {
  font-size: 300%;
}

.active {
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}

.active:hover {
  text-decoration: none;
  cursor: default;
  color: black;
}

.temperature-divider {
  font-size: 20px;
}

#temperature-digits {
  font-size: 70px;
  font-weight: 350;
  color: rgba(255,255,255,0.7);
  vertical-align: middle;
}

#celsius {
  font-size: 20px;
}

#fahrenheit {
  font-size: 20px;
}

#weather-description {
  text-transform: capitalize;
  color: rgba(255,255,255,0.7);
  vertical-align: middle;
  padding-left: 30px;
  font-size: 40px;
}

#current-city {
  text-transform: capitalize;
}

#current-weather-icon img {
  vertical-align: middle;
  width: 35%;
}

#weather-forecast {
  text-align: center;
  color: rgba(255,255,255,0.7);
}

#weather-forecast img {
  width: 70px;
}

#open-source-link {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: whitesmoke;
}
